.update-page-container h1 {
  font-size: 22px;
  margin: 20px 0;
}

.update-page-section {
  text-align: center;
  margin-bottom: 50px;
}

.update-page-section button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.update-page-section button:hover {
  background-color: #0056b3;
}

.update-page-components {
  display: flex;
  justify-content: center;
  align-items: start;
}