.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('../../pictures/kiwi-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.register-form {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.register-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input-box input,
.input-box select {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.register-button {
  width: 100%;
  padding: 10px;
  background-color: #de8934d4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-button:hover {
  background-color: #fc8019;
}
