.create-page-container h1 {
  font-size: 22px;
  margin-bottom: 20px;
}

.create-page-section {
  text-align: center;
  margin-bottom: 50px;
}

.create-page-section button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.create-page-section button:hover {
  background-color: #0056b3;
}

.form-section {
  display: flex;
  justify-content: center;
  gap: 150px;
  align-items: start;
}

.form-section div {
  text-align: center;
}

.form-section label {
  display: block;
  margin-bottom: 10px;
  text-align: start;
}


.form-section input[type="text"],
.form-section input[type="number"],
.form-section textarea {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.form-section select {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box; 
  margin-bottom: 10px;
  
}

.form-section button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.form-section button[type="submit"]:hover {
  background-color: #0056b3;
}
