/* Users.css */

.users-container {
  margin: 20px;
}

.user {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

.user-info h4 {
  margin: 5px 0;
}

.user-info p {
  margin: 5px 0;
}

.user-buttons button {
  margin-right: 10px;
}

.confirm-btn,
.cancel-btn {
  margin-right: 5px;
}

.btn-container {
  margin-top: 10px;
}

.loading {
  font-style: italic;
  color: #888;
}

/* Style for user creation form */
.user-form-container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.user-form-container input[type="text"],
.user-form-container input[type="email"],
.user-form-container input[type="password"],
.user-form-container input[type="number"],
.user-form-container select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.user-form-container label {
  display: block;
  margin-bottom: 5px;
}

.user-form-container .checkbox-label {
  display: flex;
  align-items: center;
}

.user-form-container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.user-form-container button:hover {
  background-color: #0056b3;
}

.btn-container button {
  padding: 5px 10px;
  background-color: #ff000090;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
}

.btn-container button:hover {
  background-color: #c71010;
}