.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("../../pictures/kiwi-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.login-form {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.login-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.login-input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #de8934d4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 5px 0;
}

.login-button:hover {
  background-color: #fc8019;
}

.message {
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

.error-message {
  color: red;
  background-color: rgba(255, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.success-message {
  color: green;
  background-color: rgba(0, 255, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
